---
layout: post
title: pwnable.kr writeups
category: writeups
tags: [pwn, writeup, wargame]
---

<p>Writeups for <a href="https://pwnable.kr">pwnable.kr</a></p>

<p>Only overwiew of the tasks are provided publicly. <br/>

Full writeups and exploits are in <a href="/assets/pwnablekr/cipher/">encrypted tars</a>.
Flags are passwords. <br/>
</p>

<p>
Please remove space (%20) from encrypted solutions urls.
</p>

<p>
Rookiess:<br/>
{% for writeup in site.pwnablekr %}
    {% if writeup.subcategory == "rookiess" %}
    {% assign task_name = writeup.title | split:"-" | slice: 1 %}
    <a href="{{writeup.url}}">  - {{task_name}}</a>
    (<a href="/assets/pwnablekr/cipher/rookiess/{{-task_name-}}.tar.gz.gpg">solution</a>)<br/>
    {% endif %}
{% endfor %}
</p>

<p>
Hacker's secret:<br/>
{% for writeup in site.pwnablekr %}
    {% if writeup.subcategory == "hackers_secret" %}
    <a href="{{writeup.url}}">  - {{ writeup.title | split:"-" | slice: 1}}</a><br/>
    {% endif %}
{% endfor %}
</p>