---
layout: post
title: pwnable.kr writeups
category: writeups
tags: [pwn, writeup, wargame]
---

<p>Writeups for <a href="https://pwnable.kr">pwnable.kr</a></p>

<p>Only overwiew of the tasks are publicly available. <br/>

Full writeups and exploits are in <a href="/assets/pwnablekr/cipher/">encrypted tars</a>.
Flags are passwords. <br/>
</p>

<p>
Rookiess:<br/>
{% for writeup in site.pwnablekr %}
    {% if writeup.subcategory == "rookiss" %}
    {% assign task_name = writeup.title | split:"-" | slice: 1 %}
    <a href="{{writeup.url}}">  - {{task_name}}</a>
    (<a href="/assets/pwnablekr/cipher/rookiss/{{ writeup.file_path }}.tar.gz.gpg">solution</a>)<br/>
    {% endif %}
{% endfor %}
</p>

<p>
Hacker's secret:<br/>
{% for writeup in site.pwnablekr %}
    {% if writeup.subcategory == "hackers_secret" %}
    {% assign task_name = writeup.title | split:"-" | slice: 1 %}
    <a href="{{writeup.url}}">  - {{task_name}}</a>
    (<a href="/assets/pwnablekr/cipher/hackers_secret/{{ writeup.file_path }}.tar.gz.gpg">solution</a>)<br/>
    {% endif %}
{% endfor %}
</p>