<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

<body class="theme-6dd">

    {% include sidebar.html %}

    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>
    </div>

    <div class="container content">
      {{ content }}
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        checkbox.addEventListener('click', function(e) {
          if(checkbox.checked) {
            sidebar.style.visibility = 'hidden';
          } else {
            sidebar.style.visibility = 'visible';
          }
        }, false);
      })(document);
    </script>

{% include footer.html %}
